
body {
    padding: 20px;
}

.content {
    display: inline-flex;
}

#placeBidButton {
    color: white;
    background-color: green;
}

.right-container { margin-left: 20px; }
.right-container ul.list-group { margin-top: 20px; }